<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (student <= 0) { %>
    <h2>F</h2>
    <% } if else (student <= 50 ) {%>
    <h2>C</h2>
    <% } if else (student <= 80 ) {%>
    <h2>B</h2>
    <% } else (student <=100) {%>
    <h2>A</h2>
  </body>
</html>
